.mybox {
	background: #080;
	padding: -10;
}

view.mybox {
	padding: 10;
}

pause-menu {
	max-width: 300;
	layout: vertical;
}

title-menu {
	max-width: 300;
	layout: vertical;
}

tab-container {
	layout: vertical;
}

spellbook {
	layout: horizontal;
	fill-width: true;
	fill-height: true;
	align: left top;
	margin : 10 40;
}

selector-tab {
	fill-width: true;
	fill-height: true;
}

dropdown-container {
	fill-width: true;
	fill-height: true;
	layout: horizontal;
	align: left top;
}

thumbnail {
	background: #444;
	width: 300;
	fill-height: true;
	height: 60;
	margin : 0 40;
}

thumbnail.highlight {
	background: #a33;
}

thumbnail text {
	align: middle middle;
}

thumbnail:hover {
	background: #777;
}

thumbnail:active {
	background: #222;
}

spell-slot-ui {
	fill-height: true;
	fill-width: true;
	margin : 5 5;
	padding : 15 10;
}

spell-slot-ui text {
	align: middle middle;
}

spell-slot {
	background: #444;
	margin : 5 5;
	padding : 15 10;
}

spell-slot text {
	align: middle middle;
}

spell-slot:active {
	background: #222;
}

spell-slot:hover {
	background: #777;
}

slot-container {
	align: left top;
	fill-width: true;
	margin : 0 0;
}

#about text {
	align: middle middle;
}

#cexit {
	max-width: 300;
}
